h1 {
 color:#18B3F2;
 font-family: "Futura", Helvetica, Sans-Serif;
}

h2 {
 color:#000;
 font-size: 24px;
 font-family: "Futura", Helvetica, Sans-Serif;
}

a {
	font-family: "Futura", Helvetica, Sans-Serif;
	color:#632EBB;
}

body {
	background-color: #fff;
}

p {
	font-family: "Futura", Helvetica, Sans-Serif;
	font-size: 16px;
	color: #000;
}

li {
	font-size: 144px;
	color: #fff;
	margin-left: 100px;
}
.container{
	width:100%;
}

.twothirdsgray {
	padding-top:10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	background-color: #F1EFEF;
	margin: 5px;
	width:66%;
}
.onethirdgray {
	padding-top:10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	background-color: #F1EFEF;
	margin: 5px;
	width:33%;
}